$unit__tiny: 0.4rem;
$unit__small: 0.8rem;
$unit__normal: 1.6rem;
$unit__submedium: 2.4rem;
$unit__medium: 3.2rem;
$unit__large: 4.8rem;
$unit__huge: 6.4rem;
$unit__gigantic: 12.8rem;

$color__primary: #13151e;
$color__secondary: #05aedf;
$color__tertiary: #01799f;
$color__quaternary: #1a1919;
$color__dark: #000;
$color__light: #ffffff;
$color__gray: #84898d;
