.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__medium;
}

.link {
  &:link,
  &:visited {
    color: $color__gray;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: $color__light;
  }
}

.home-link {
  color: $color__light;

  &:link,
  &:visited {
    opacity: 0.75;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    opacity: 1;
  }
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__small;
}

.nav-link {
  padding: $unit__normal $unit__submedium;

  &:link,
  &:visited {
    color: $color__light;
  }

  &:hover,
  &:active {
    color: $color__light;
  }
}

.special-link {
  &:link,
  &:visited {
    background: linear-gradient(45deg, rgba($color__gray, 0.4), $color__gray);
    font-weight: bold;
    box-shadow: -1px -1px 2px $color__light;
    border-radius: 5px;
    transition: all 1s;
  }

  &:hover,
  &:active {
    background: linear-gradient(45deg, rgba($color__gray, 1), $color__gray);
  }
}

.cta {
  margin: $unit__submedium auto;
  display: inline-block;
  padding: $unit__normal $unit__medium;
  font-size: $unit__submedium * 0.75;
  border-radius: 5px;
  &:link,
  &:visited {
    color: $color__light;
    background: linear-gradient(
      180deg,
      $color__secondary,
      darken($color__secondary, 25)
    );
    transition: all 1s;
  }
  &:hover,
  &:active {
    background: linear-gradient(
      90deg,
      $color__secondary,
      darken($color__secondary, 25)
    );
  }
}

.follow-link {
  display: inline-block;
  padding: $unit__normal;
  &:link,
  &:visited {
    background: linear-gradient(45deg, rgba($color__gray, 0.4), $color__gray);
    font-weight: bold;
    box-shadow: -1px -1px 2px $color__light;
    border-radius: 5px;
    transition: all 1s;
    color: $color__light;
    text-transform: uppercase;
  }

  &:hover,
  &:active {
    background: linear-gradient(45deg, rgba($color__gray, 1), $color__gray);
  }
}

.cat-links {
  padding: $unit__normal 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: $unit__small;
}

.cat-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $unit__small;
  & .link:link,
  & .link:visited {
    color: rgba($color__secondary, 0.75);
    transition: all 0.3s;
  }

  & .link:hover,
  & .link:active {
    color: rgba($color__secondary, 1);
  }
}
