.svg-twitter {
  width: $unit__gigantic * 1.25;
  height: $unit__gigantic * 1.25;
  padding: $unit__normal;
}

.svg-bg {
  width: $unit__gigantic * 2;
  height: $unit__gigantic * 2;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(0, -50%);
  opacity: 0.25;
}

.svg-blog {
  width: $unit__normal;
  height: $unit__normal;
  fill: $color__light;
}

.svg-link {
  width: $unit__normal;
  height: $unit__normal;
}

.svg-quote {
  width: $unit__large;
  height: $unit__large;
  fill: rgba($color__light, 0.75);
}

.user-avatar {
  width: $unit__huge;
  height: $unit__huge;
}
