body {
  background: $color__primary;
}

.logo {
  &__title {
    font-size: $unit__large * 0.75;
  }

  &__description {
    color: $color__light;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 4px;
  }
}

.hero {
  @include max-width-container;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $unit__normal;
  color: $color__light;
}

.hero-desc {
  width: 50%;

  &__title {
    line-height: 0.9;
    padding-bottom: $unit__normal;
    span:first-child {
      font-size: $unit__large;
      text-transform: uppercase;
      color: $color__secondary;
      display: block;
      font-weight: 300;
      letter-spacing: 3px;
    }
    span + span {
      font-size: $unit__huge;
      color: $color__light;
      font-weight: 900;
      letter-spacing: unset;
    }
  }

  &__description {
    line-height: 1.7;
    font-size: $unit__submedium * 0.75;
  }
}

.hero-image-wrapper {
  width: 50%;
}

.hero-image {
  width: 100%;
}

.tweet-container {
  background: $color__quaternary;
  color: $color__light;
}

.tweets {
  @include max-width-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet {
  width: 75%;
  font-size: $unit__submedium * 0.75;
  padding: 0 $unit__medium;
}

.programs {
  @include max-width-container;
  margin: $unit__medium auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color__light;
  gap: $unit__medium;
}

.program {
  width: 30%;
  position: relative;
  background: $color__gray;
  padding: $unit__submedium;
  box-shadow: -1px -1px 1px 1px $color__light;
  border-radius: 10px;
  overflow: hidden;

  &__title {
    position: relative;
    font-size: $unit__large;
    z-index: 1;
    line-height: 0.9;
    margin-bottom: $unit__normal;
    span {
      text-transform: uppercase;
      display: block;
      font-weight: 300;
    }

    span + span {
      font-weight: 900;
    }
  }

  &__desc {
    position: relative;
    z-index: 1;
  }
}
