@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000;
}

.special {
  color: #05aedf;
  font-weight: 700;
}

.main-bar {
  padding: 3.2rem 1.6rem;
  margin: auto;
  background: #1a1919;
  color: #ffffff;
}

.top-navbar {
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.link:link, .link:visited {
  color: #84898d;
  transition: all 0.3s;
}
.link:hover, .link:active {
  color: #ffffff;
}

.home-link {
  color: #ffffff;
}
.home-link:link, .home-link:visited {
  opacity: 0.75;
  transition: all 0.3s;
}
.home-link:hover, .home-link:active {
  opacity: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.nav-link {
  padding: 1.6rem 2.4rem;
}
.nav-link:link, .nav-link:visited {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.nav-link:hover, .nav-link:active {
  color: #ffffff;
}

.special-link:link, .special-link:visited {
  background: linear-gradient(45deg, rgba(132, 137, 141, 0.4), #84898d);
  font-weight: bold;
  box-shadow: -1px -1px 2px #ffffff;
  border-radius: 5px;
  transition: all 1s;
}
.special-link:hover, .special-link:active {
  background: linear-gradient(45deg, #84898d, #84898d);
}

.cta {
  margin: 2.4rem auto;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 1.8rem;
  border-radius: 5px;
}
.cta:link, .cta:visited {
  color: #ffffff;
  background: linear-gradient(180deg, #05aedf, #024d62);
  transition: all 1s;
}
.cta:hover, .cta:active {
  background: linear-gradient(90deg, #05aedf, #024d62);
}

.follow-link {
  display: inline-block;
  padding: 1.6rem;
}
.follow-link:link, .follow-link:visited {
  background: linear-gradient(45deg, rgba(132, 137, 141, 0.4), #84898d);
  font-weight: bold;
  box-shadow: -1px -1px 2px #ffffff;
  border-radius: 5px;
  transition: all 1s;
  color: #ffffff;
  text-transform: uppercase;
}
.follow-link:hover, .follow-link:active {
  background: linear-gradient(45deg, #84898d, #84898d);
}

.cat-links {
  padding: 1.6rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.8rem;
}

.cat-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
.cat-link .link:link, .cat-link .link:visited {
  color: #ffffff;
  transition: all 0.3s;
}
.cat-link .link:hover, .cat-link .link:active {
  color: #05aedf;
}

.title-link:link, .title-link:visited {
  color: #ffffff;
  transition: all 0.3s;
}
.title-link:hover, .title-link:active {
  color: #05aedf;
}

.svg-link {
  fill: #ffffff;
  transform: rotate(180deg);
  transition: all 0.3s;
}

.cat-link:hover .svg-link {
  fill: #05aedf;
  transform: rotate(0deg);
}

.services-links,
.archives-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.8rem;
}

.archive-link:link, .archive-link:visited,
.service-link:link,
.service-link:visited,
.commentator:link,
.commentator:visited {
  color: #ffffff;
  transition: all 0.5s;
}
.archive-link:hover, .archive-link:active,
.service-link:hover,
.service-link:active,
.commentator:hover,
.commentator:active {
  color: #05aedf;
  text-decoration: underline;
}

.more-posts {
  margin: 3.2rem auto;
  padding: 1.6rem;
  border-radius: 10px;
}
.more-posts:link, .more-posts:visited {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(132, 137, 141, 0.75);
  box-shadow: -1px -1px 2px #ffffff;
  transition: all 0.8s;
}
.more-posts:hover, .more-posts:active {
  color: #ffffff;
  background: #84898d;
}

.site-header {
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem 0;
}

.svg-twitter {
  width: 16rem;
  height: 16rem;
  padding: 1.6rem;
}

.svg-bg {
  width: 25.6rem;
  height: 25.6rem;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translate(0, -50%);
  opacity: 0.25;
}

.svg-blog {
  width: 1.6rem;
  height: 1.6rem;
  fill: #ffffff;
}

.svg-link {
  width: 1.6rem;
  height: 1.6rem;
}

.svg-quote {
  width: 4.8rem;
  height: 4.8rem;
  fill: rgba(255, 255, 255, 0.75);
}

.user-avatar {
  width: 6.4rem;
  height: 6.4rem;
}

.blog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 3.2rem 12.8rem 3.2rem 0;
}

.blog-image-wrapper {
  width: 40%;
}

.blog-image {
  width: 100%;
}

.blog-content {
  width: 60%;
}
.blog-content__title {
  font-size: 3.2rem;
}
.blog-content__meta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  margin: 0.8rem auto;
}
.blog-content__meta span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.testimonial {
  background: #84898d;
  padding: 1.6rem;
  border-radius: 10px;
}
.testimonial blockquote {
  line-height: 1.5;
}
.testimonial .author {
  text-align: right;
  margin-top: 2.4rem;
}
.testimonial .author span:first-child {
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

.root-footer {
  margin-top: 4.8rem;
  width: 100%;
  min-height: 40rem;
  background: #1a1919;
  color: #ffffff;
}

.footer {
  max-width: 120rem;
  margin: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3.2rem;
}
.footer-column {
  margin: 4.8rem auto;
}
.footer-column__title {
  margin: 2.4rem auto;
}

.about-me {
  width: 40%;
}
.about-me p {
  line-height: 1.3;
  margin-bottom: 0.8rem;
}

.navigation {
  width: 25%;
}

.archives {
  width: 25%;
}

.comments {
  width: 40%;
}

.about-me-image-wrapper {
  width: 10rem;
  float: left;
  margin-right: 0.8rem;
}

.about-me-image {
  width: 100%;
}

.comment {
  margin-bottom: 3.2rem;
  padding-bottom: 2.4rem;
  border-bottom: 2px solid rgba(132, 137, 141, 0.2);
}

.comment-metadata {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

body {
  background: #13151e;
}

.logo__title {
  font-size: 3.6rem;
}
.logo__description {
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 4px;
}

.hero {
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: #ffffff;
}

.hero-desc {
  width: 50%;
}
.hero-desc__title {
  line-height: 0.9;
  padding-bottom: 1.6rem;
}
.hero-desc__title span:first-child {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #05aedf;
  display: block;
  font-weight: 300;
  letter-spacing: 3px;
}
.hero-desc__title span + span {
  font-size: 6.4rem;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: unset;
}
.hero-desc__description {
  line-height: 1.7;
  font-size: 1.8rem;
}

.hero-image-wrapper {
  width: 50%;
}

.hero-image {
  width: 100%;
}

.tweet-container {
  background: #1a1919;
  color: #ffffff;
}

.tweets {
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet {
  width: 75%;
  font-size: 1.8rem;
  padding: 0 3.2rem;
}

.programs {
  max-width: 120rem;
  margin: auto;
  margin: 3.2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  gap: 3.2rem;
}

.program {
  width: 30%;
  position: relative;
  background: #84898d;
  padding: 2.4rem;
  box-shadow: -1px -1px 1px 1px #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.program__title {
  position: relative;
  font-size: 4.8rem;
  z-index: 1;
  line-height: 0.9;
  margin-bottom: 1.6rem;
}
.program__title span {
  text-transform: uppercase;
  display: block;
  font-weight: 300;
}
.program__title span + span {
  font-weight: 900;
}
.program__desc {
  position: relative;
  z-index: 1;
}

.content {
  max-width: 120rem;
  margin: auto;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.2rem;
}

.news-updates {
  width: 80%;
}

.sidebar {
  width: 20%;
}

.testimonials {
  margin: 4.8rem auto;
}
.testimonials__title {
  font-size: 2.4rem;
}

/*# sourceMappingURL=main.css.map */
